<!DOCTYPE html> <%# HTML5であることを宣言する %>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%# 各ページの内容をレイアウトに挿入するため、application.htmlで定義している。URLとビューをつなぐ。
        例えば/static_pages/homeにアクセスするとhome.html.erbの内容がHTMLに変換され、yieldの位置に挿入されるって感じ %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
